name: PR check

on:
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    pr-check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: npm run lint

            - name: Format check
              run: npm run format:check

            - name: Type check
              run: npm run tsc:check

            - name: Test
              run: npm run test
